body {
	background-color: ghostwhite;
	font-family: "Lucida Console", "Courier New", monospace
}

div {
	width: 50%;
	margin: auto
}

p {
	text-align: justify;
	text-justify: inter-word
}

a {
	text-decoration: none
}

.main-title {
	text-align: center
}

.personal-links {
	text-align: center
}

.title {
	font-weight: bold;
	margin-bottom: 0
}

.content {
	margin-top: 0
}
